@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;

		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;

		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;

		--border: 220 13% 91%;
		--input: 220 13% 91%;

		--primary: 220.9 39.3% 11%;
		--primary-foreground: 210 20% 98%;

		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;

		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 210 20% 98%;

		--ring: 224 71.4% 4.1%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;

		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;

		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;

		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;

		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;

		--primary: 210 20% 98%;
		--primary-foreground: 220.9 39.3% 11%;

		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;

		--accent: 215 27.9% 16.9%;
		--accent-foreground: 210 20% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 20% 98%;

		--ring: 216 12.2% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.mapbox-directions-origin label {
	background-color: hsl(var(--primary)) !important;
	border-top-left-radius: 12px !important;
  }
  
  .mapbox-directions-destination label {
	background-color: hsl(var(--primary)) !important;
	border-bottom-left-radius: 12px !important;
  }
  
  .mapboxgl-ctrl-top-left > div > div > div > div:first-child {
	border-radius: 12px !important;
  }

#mapbox-directions-origin-input > div {
	border-top-right-radius: 12px;
}

#mapbox-directions-destination-input > div {
	border-bottom-right-radius: 12px;
}

.mapbox-directions-profile input[type=radio]:checked + label:hover, .mapbox-directions-profile input[type=radio]:checked + label {
	background: hsl(var(--primary)) !important;
	color: hsl(var(--primary-foreground)) !important;
}

.mapboxgl-ctrl-geocoder ul > li.active > a, .mapboxgl-ctrl-geocoder ul > li > a:hover {
	background: hsl(var(--primary)) !important;
	color: hsl(var(--primary-foreground)) !important;
}

.suggestions {
	border-radius: 12px !important;
	box-shadow: 0 0 0 2px rgba(0,0,0,0.1) !important;
}